{% capture root_url %}{{ site.root | strip_slash }}{% endcapture %}
<!doctype html>
<!-- START OF _layouts/default.html -->
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
		<meta content="width=device-width,initial-scale=1" name="viewport">
		<meta content="{{ site.description }}" name="description">
		<meta content="{{ site.title }}" name="author">
		
		<title>{% if page.title %}{{ page.title }} &mdash; {% endif %}{{ site.title }} | writings on technology and business</title>
		
		<link href="{{ root_url }}/stylesheets/main.css" rel="stylesheet">
		<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
		<script src="{{ root_url }}/js/fuse.min.js"></script>
	</head>
	<body>
		<div class="wrap">
			<div id="sidebar">
				<header>
					<div class="title"><a href="http://nathanleclaire.com">
							<img src="{{ root_url }}/images/nateface.jpeg" class="nateface" /> {{ site.title }} </a>
					</div>
					<p class="slogan">I care, I share, I'm Nathan LeClaire.</p>
					<div class="navi">
						<ul>
							<li><a href="{{ root_url }}/about/">About</a></li>
							<li><a href="{{ root_url }}/blog/archives">Archives</a></li>
							<li><a href="{{ root_url }}/atom.xml">RSS</a></li>
						</ul>
					</div> <!-- // .navi -->
					<div id="sidebar-email">
						<a href="mailto:nathan.leclaire@gmail.com">nathan.leclaire@gmail.com</a>
					</div>
				</header>
				<span id="shameless-self-promotion">
				<!-- Begin MailChimp Signup Form -->

				<div id="mc_embed_signup">
				<form action="http://nathanleclaire.us3.list-manage.com/subscribe/post?u=bb81abde21debade7a3b6c8f8&amp;id=a77a90269c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
					<label for="mce-EMAIL">Get my awesome essays about tech delivered to your inbox</label>
					<input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@domain.com" required>
					<input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
					<!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
				    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bb81abde21debade7a3b6c8f8_a77a90269c" value=""></div>
				</form>
				</div>
				<!--End mc_embed_signup-->
				
				<p>Quickly search the archive:</p>
				<input type="text" placeholder="Fuzzy search by keyword (e.g. Angular)" id="archive-search">
				<img src="/images/magnifying-glass.png" id="search-icon" />
				<ul id="archive-search-populate">
				</ul>
				
				</span>
			</div>
			<div id="content">
				{{ content | expand_urls: root_url }}
			</div>
		</div> <!-- // .wrap -->
	<script type="text/javascript" src="{{ root_url }}/js/prettify.js"></script>
	<script>
	$(document).ready(function () {
	    var fuse;

	    $("code").addClass("prettyprint");
	    prettyPrint();

	    $.getJSON("/articles.json", function(data) {
	    	// input:
	    	// [{title: "Learn Node.js The Troll Way", href: "blahblah"}, { ... }]
	    	fuse = new Fuse(data, {
	    	    keys: ['title', 'tags']
	    	});
	    });
	    
	    $("#archive-search").keyup(function() {
	    	var $this = $(this);
	    	var val = $this.val();
	    	var result = fuse.search(val).slice(0, 3);
	    	$list = $("#archive-search-populate");
	    	$list.empty();
	    	if (result.length > 0 && val !== '') {
				console.log(val);
	    	    $.each(result, function(i, e) {
	    	        $list.append('<li><a href="'+ e.href +'">'+ e.title +'</a></li>');
	    	    });
	    	}
	    });
	    
	    $(".social-media-spam").each(function () {
	        var e = $(this);
	        var t = e.attr("href");
	        var n = $("article header h1 a").html();
	        t += encodeURIComponent(n);
	        e.attr("href", t)
	    });

	    var e = window.location.href;
	    var t = $("#pull-request-link");
	    var n = "https://github.com/nathanleclaire/blog/edit/master/source/_posts/" + e.split("/").slice(4, 8).join("-") + ".markdown";
	    t.attr("href", n);

	});
	</script>
	<script>
	  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
	  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
	  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
	  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
	  ga('create', 'UA-26758702-2', 'nathanleclaire.com');
	  ga('send', 'pageview');
	</script>
	</body>
</html>
<!-- END OF _layouts/default.html -->
