backend:
  name: github
  repo: nathanleclaire/blog
publish_mode: editorial_workflow
media_folder: "static/images"
collections:
- name: "Posts"
  extension: "markdown"
  label: "Posts"
  folder: "content/post"
  create: true
  slug: "{{slug}}"
  fields:
  - label: Title
    name: title
    default: New Post
    widget: string
  - label: Layout
    name: layout
    widget: string
    default: post
  - label: Date
    name: date
    widget: datetime
  - label: Body
    name: body
    widget: markdown
  - label: "Categories"
    name: "categories"
    widget: "list"
    default: ["programming"]
