<script type="text/javascript" src="{{ .Site.BaseUrl }}/js/prettify.js"></script>
<script type="text/javascript" src="{{ .Site.BaseUrl }}/js/jquery.modal.min.js"></script>
<script>
function supports_html5_storage() {
  try {
    return 'localStorage' in window && window['localStorage'] !== null;
  } catch (e) {
    return false;
  }
}

$(document).ready(function () {
    $("code").addClass("prettyprint");
    prettyPrint();
    $(".social-media-spam").each(function () {
        var e = $(this);
        var t = e.attr("href");
        var n = $("article header h1 a").html();
        t += encodeURIComponent(n);
        e.attr("href", t)
    });
    var e = window.location.href;
    var t = $("#pull-request-link");
    var n = "https://github.com/nathanleclaire/blog/edit/master/source/_posts/" + e.split("/").slice(4, 8).join("-") + ".markdown";
    t.attr("href", n);
    // Only offer mailing list once
    var tryModal = localStorage["modal"] ? false : true;
    // Don't offer mailing list to people on mobile
    if ($(window).width() < 720) {
        tryModal = false;
    }
    $('#mc-embedded-subscribe').click(function() {
        // Don't offer mailing list if people have
        // already clicked to try and sign up
        tryModal = false;
        localStorage["modal"] = "true";
    });
    $(window).scroll(function () {
        if (tryModal && document.URL.indexOf('archives') === -1 && document.URL.indexOf('about') === -1) {
            if (($(window).scrollTop() + $(window).height()) === $(document).height()) {
                if (supports_html5_storage()) {
                    window.setTimeout(function() {
                        $('#mailing-list-modal').modal({
                            fadeDuration: 250
                        });
                        $('#mce-EMAIL-modal').focus();
                        tryModal = false;
                        localStorage["modal"] = "true";
                    }, 1000);
                }
            }
        }
    });
});
</script>
<script>
(function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
(i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
})(window,document,'script','//www.google-analytics.com/analytics.js','ga');
ga('create', 'UA-26758702-2', 'nathanleclaire.com');
ga('send', 'pageview');
</script>
</body>
</html>
