<!doctype html>
<!-- START OF _layouts/default.html -->
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible" >
        <meta content="width=device-width,initial-scale=1" name="viewport">
        <meta content="{{ .Description }}" name="description">
        <meta content="{{ .Title }}" name="author">
        
        <title>
            {{ .Title }} | I care, I share, I'm Nathan LeClaire.
        </title>
        
        <link href="/stylesheets/main.css" rel="stylesheet">
        <link href="/stylesheets/prettify.css" rel="stylesheet">
        <script src="/cdnjs.cloudflare.com/ajax/libs/jquery/1.11.0/jquery.js"></script>
        <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
        <script>
        (adsbygoogle = window.adsbygoogle || []).push({
          google_ad_client: "ca-pub-0338430566495517",
          enable_page_level_ads: true
        });
        </script>
    </head>
    <body>
