<div id="sidebar">
    <header>
        <div class="title">
            <a href="http://nathanleclaire.com">
                <img src="{{ .Site.BaseUrl }}/images/nateface.jpeg" class="nateface" />{{ .Site.Title }}
            </a>
        </div>
        <p class="slogan">I care, I share, I'm Nathan LeClaire.</p>
        <div class="navi">
            <ul>
                <li><a href="{{ .Site.BaseUrl }}/about/">About</a>
                </li>
                <li><a href="{{ .Site.BaseUrl }}/post">Archives</a>
                </li>
                <li><a href="{{ .Site.BaseUrl }}/index.xml">RSS</a>
                </li>
            </ul>
        </div>
        <!-- // .navi -->
        <div id="sidebar-email">
            <a href="mailto:nathan.leclaire@gmail.com">nathan.leclaire@gmail.com</a>
        </div>
    </header>
    <span id="shameless-self-promotion">

        <!-- Begin MailChimp Signup Form -->
        <div id="mc_embed_signup">
        <form action="http://nathanleclaire.us3.list-manage.com/subscribe/post?u=bb81abde21debade7a3b6c8f8&amp;id=a77a90269c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
            <label for="mce-EMAIL">Get my essays about tech delivered to your inbox</label>
            <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@domain.com" required>
            <input type="submit" value="Go" name="subscribe" id="mc-embedded-subscribe" class="button">
            <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
            <div style="position: absolute; left: -5000px;"><input type="text" name="b_bb81abde21debade7a3b6c8f8_a77a90269c" value=""></div>
        </form>
        </div>
        <!--End mc_embed_signup-->
    </span>
</div>
