<div id="sidebar">
    <header>
        <div class="title">
            <a href="{{.Site.BaseURL}}">
            <img src="/images/nateface.jpeg" class="nateface" />{{ .Site.Title }}
            </a>
        </div>
        <p class="slogan">I care, I share, I'm Nathan LeClaire.</p>
        <div class="navi">
            <ul>
                <li><a href="/about/">About</a>
                </li>
                <li><a href="/post">Archives</a>
                </li>
                <li><a href="/index.xml">RSS</a>
                </li>
            </ul>
        </div>
        <div id="sidebar-email">
            <div>
                mail: <a href="mailto:nathan.leclaire@gmail.com">nathan.leclaire@gmail.com</a>
            </div>
            <div>
                twitter: <a href="https://twitter.com/intent/follow?screen_name=dotpem" target="_blank">@dotpem</a>
            </div>
            <script src="https://gumroad.com/js/gumroad.js"></script>
            <a class="gumroad-button" href="https://gum.co/ouwng" target="_blank">Check out my Getting a Tech Job Strategy Guide!</a>
        </div>
    </header>
</div>
