{{ partial "chrome/header.html" . }}
<div id="wrapper">
<style>
div#wrapper {
    width:70%;
    margin:0px auto;
}
    
.gridpic {
    width: 400px;
    max-width: 100%;
    margin: 0px auto;
}

ul {
  padding: 0px;
    list-style-type: none;
}

li {
    margin-bottom:20px;
}

.gridpics a {
   text-decoration: none; 
   color: #337BB7;
   transition: 1s ease-in-out all;
   margin-top: 10px;
}

.gridpics a:hover {
   color: black;
}

</style>
<h1> Welcome. </h1>

<img class="nateface" src="/images/nateface.jpeg">

I'm Nathan LeClaire, a passionate entrepreneur, essayist, and engineer.  This website is primarily
focused on my essays on business and engineering. <a href="/post">Click here</a> to see all of my
articles and essays.

<h2> Some posts that people enjoy ... </h2>

The following posts have become quite popular, and continue to bring people back to the site to this day!
See if any catch your fancy.

<ul class="gridpics">
<li><a href="{{.Site.BaseURL}}blog/2016/06/13/yaml-hcl-toml-and-other-fantastic-beasts/"><img class="gridpic" src="{{.Site.BaseURL}}images/griffin.jpg"><h1 class="article-callout">YAML, HCL, TOML, and Other Fantastic Beasts</h1></a></li>
<li><a href="{{.Site.BaseURL}}blog/2015/10/10/interfaces-and-composition-for-effective-unit-testing-in-golang/"><img class="gridpic" src="{{.Site.BaseURL}}images/gounit/magic.png"><h1 class="article-callout">Interfaces and Composition for Effective Unit Testing in Golang</h1></a></li>
<li><a href="{{.Site.BaseURL}}blog/2015/04/27/automating-docker-logging-elasticsearch-logstash-kibana-and-logspout/"><img class="gridpic" src="{{.Site.BaseURL}}images/kibanagraph.png"><h1 class="article-callout">Automating Docker Logging: ELK Stack</h1></a></li>
</ul>
{{ partial "chrome/footer.html" . }}
