{{ partial "chrome/header.html" . }}
<div id="wrapper">
<style>
div#wrapper {
    width:70%;
    margin:0px auto;
}

#mce-EMAIL {
    font-size:24px;
}

#mc-embedded-subscribe {
    width:20px;
}

@font-face {
    font-family: 'LeagueGothicRegular';
    src: url('/font/League_Gothic-webfont.eot');
    src: url('/font/League_Gothic-webfont.eot?#iefix') format('embedded-opentype'),
            url('/font/League_Gothic-webfont.woff') format('woff'),
            url('/font/League_Gothic-webfont.ttf') format('truetype'),
            url('/font/League_Gothic-webfont.svg#LeagueGothicRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

h1 {
    text-align: center;
    font-family: 'LeagueGothicRegular', "Impact", Charcoal, Arial Black, Gadget, Sans serif;
    text-transform: uppercase;
    line-height: 1;
    font-size: 300%;
    /* Remember to set the correct font weight if using fontface */
    font-weight: normal;
}

.gridpic {
    width: 400px;
  max-width: 100%;
    margin: 0px auto;
}

ul {
  padding: 0px;
    list-style-type: none;
}

li {
    margin-bottom:20px;
}

#mc-embedded-subscribe {
    height: 46px;
}

.gridpics a {
   text-decoration: none; 
   color: red;
   transition: 1s ease-in-out all;
}

.gridpics a:hover {
   color: black;
}

</style>
<h1> Hiya.  </h1>

<img src="/images/naaaate.jpg">

Welcome, party people.  I'm Nathan LeClaire, a passionate entrepreneur, essayist, and developer with a taste for technology.  Here I put out weekly-ish articles and writings on business and program-ey things.  

If you'd like, you can sign up for my mailing list to keep your finger on the pulse:

<div id="mc_embed_signup">
<form action="http://nathanleclaire.us3.list-manage.com/subscribe/post?u=bb81abde21debade7a3b6c8f8&amp;id=a77a90269c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
    <input type="email" value="" name="EMAIL" class="email" id="mce-EMAIL" placeholder="email@domain.com" required autofocus>
    <input type="submit" value="Yes!" name="subscribe" id="mc-embedded-subscribe" class="button">
    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
    <div style="position: absolute; left: -5000px;"><input type="text" name="b_bb81abde21debade7a3b6c8f8_a77a90269c" value=""></div>
</form>
</div>

<h2> Some of my posts have been very popular. </h2>

The following posts have become quite popular on the Interwebs, and continue to bring people back to the site to this day!

<ul class="gridpics">
    <li><a href="http://nathanleclaire.com/blog/2013/11/23/how-i-automated-finding-almost-anyones-email-address/"><img class="gridpic" src="http://nathanleclaire.com/images/autorap/copy-as-curl.jpeg"><h1 class="article-callout">How I Automated "Finding Almost Anyone's Email Address"</h1></a></li>
    <li><a href="http://nathanleclaire.com/blog/2013/10/27/5-cool-unix-hacks-for-fun-and-productivity/"><img class="gridpic" src="http://nathanleclaire.com/images/five-tips/ctrl-n-vim.jpeg"><h1 class="article-callout">5 Unix Hacks for Fun and Productivity</h1></a></li>
    <li><a href="http://nathanleclaire.com/blog/2013/12/13/how-to-unit-test-controllers-in-angularjs-without-setting-your-hair-on-fire/"><img class="gridpic" src="http://nathanleclaire.com/images/angularjs-unit-testing/test-code-refactor-cycle.png"><h1 class="article-callout">How to Unit Test AngularJS Controllers Without Setting Your Hair on Fire</h1></a></li>
    <li><a href="http://nathanleclaire.com/blog/2013/11/16/the-javascript-question-i-bombed-in-an-interview-with-a-y-combinator-startup/"><img class="gridpic" src="http://nathanleclaire.com/images/y-comb/y-combinator-logo.gif"><h1 class="article-callout">The (JavaScript) Question I Bombed in an Interview With a YCombinator Startup</h1></a></li>
</ul>

<h2> I am super jazzed to get to know my readers. </h2>

So hop aboard the SS Mailing List today.

<ul style="list-style-type: circle"><li> Nate </li></ul>
<h1 style="font-size: 72px;"><a href="{{ .Site.BaseUrl }}/post">Click here to read my articles and essays.</a></h1>
</div>
{{ partial "chrome/footer.html" . }}
