<!-- START OF _includes/article.html -->
<article>
		<header>
			<h1><a href="{{ root_url }}{{ page.url }}">{{ page.title }}</a>
			</h1>
			<time>{{ page.date | date: "%d %B %Y" }}</time>
		</header>
		<div class="content">
			{{ content }}
		</div>
		<footer>
				<p>If you find a mistake or issue in this article, please <a id="pull-request-link" taget="_blank" href="">fix it and submit a pull request on Github</a> (must be signed in to your GitHub account).</p>
				<a target="_blank" href="https://news.ycombinator.com/submitlink?u=http://nathanleclaire.com{{ page.url }}&t=" class="social-media-spam">Submit to Hacker News</a>
				<a target="_blank" style="display: block !important;" href="http://www.reddit.com/submit?url=http://nathanleclaire.com{{ page.url }}&title=" class="social-media-spam">Submit to Reddit</a>
				<br>{% include post/categories.html %} {% if page.source.url %}via <a href="{{ page.source.url }}">{{ page.source.title }}</a>{% endif %}
		</footer>
	
			{% include pagination.html %}
	

		<pre>{{ page.source.url }}</pre>
</article>
<!-- END OF _includes/article.html -->
